.header{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 100;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
    position: relative;
}
.logo{
    flex-shrink: 0;
    width: 152px;
    height: 154px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.transparent-bg{
    background: rgba(0, 0, 0, 0.34);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200%;
    transition: all 0.5s ease;
}
.burger{
    display: none;
    cursor: pointer;
}
.close-btn{
    font-size: 50px;
    transform: rotate(45deg);
    display: none;
}
.header-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
    color: rgba(255, 255, 255, 1);
}
.header-contacts{
    display: flex;
    align-items: center;
    gap: 58px;
}
.header-contacts ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.header-contacts ul li a,
.header-contacts ul li{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
}
.header-contacts ul span{
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.53);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-contacts{
    display: flex;
    align-items: center;
    gap: 16px;
}
.telegram,
.whatsapp{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.53);
    display: flex;
    align-items: center;
    justify-content: center;
}

.telegram:hover svg path{
    fill: rgba(41, 132, 222, 1);
    transition: fill 0.3s ease;
}

.whatsapp:hover svg path{
    fill: rgba(0, 181, 26, 1);
    transition: fill 0.3s ease;
}
.header-nav{
    display: flex;
    align-items: center;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    color: rgba(248, 248, 248, 1);
    text-transform: uppercase;
    font-weight: 700;
}
.nav-menu ul li{
    border-bottom: 1px solid transparent;
    white-space: nowrap;
}
.nav-menu ul li:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition: all 0.5s ease;
}
.header button{
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.47);
    background: rgba(241, 248, 255, 0.63);
    margin-left: 42px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(22, 21, 51, 1);
}

.header button:hover{
    background: rgba(252, 253, 255, 0.72);
    color: rgba(41, 132, 222, 1);
    transition: all 0.3s ease;
}

.header button:hover svg path{
    fill: rgba(41, 132, 222, 1);
    transition: fill 0.3s ease;
}
.header.mobile-header .container{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.34);
}

@media (max-width: 1050px) {
    .burger{
        display: flex;
        gap: 30px;
    }
    .header .container{
        position: relative;
    }
    .logo{
        width: 115px;
        height: 117px;
    }

   .header-menu{
        padding: 20px 25px;
        background: rgba(30, 47, 65, 1);
        height: 100vh;
        position: absolute;
        top: 0;
        right: -200%;
        align-items: flex-start;
        overflow-y: auto;
   }
   .header-nav{
        order: -1;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
   }
   .header .nav-menu ul{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
   }
   .header-nav button{
        margin-left: 0;
        padding: 12px 22px;
   }
   .header-contacts ul{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
   }
   .header-contacts .social-contacts{
        display: none;
   }
   .close-btn{
        order: -2;
        display: block;
        align-self: flex-end;
        cursor: pointer;
        margin-top: -20px;
        margin-right: -10px;
   }
}

@media (max-width: 550px) {
    .header-menu{
        width: 280px;
    }
}